@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;0,9..40,600;1,9..40,600&family=Dela+Gothic+One&family=Montserrat:wght@300&family=Noto+Sans+Osmanya&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Osmanya', sans-serif;
}

:root{
  --background: #000;
  --boxColor: #fff; 
  --transition-duration: 0.5s; 
}

:root[color-theme='light'] {
  --background: #fff; 
  --boxColor: #000; 
  --transition-duration: 0.5s; 
}



.App {
  background-color: var(--background);
  color: var(--boxColor); 
  transition: background-color var(--transition-duration);
  width: 100vw;
  height: 100vh;
}

/* Home page */
.post-container:hover {
  background-color: red;
  cursor: pointer; 
}

/* AddPost page*/
.ql-toolbar {
  background-color: white;
  color: white;
  padding: 10px; /* Add padding if needed */
}

input[type="file"] {
  display: none;
}

.post-file-label {
  color: white; 
  text-align: center;
  height: 70px; 
  width: 250px; 
  background-color: #025bee; 
  font-size: 18px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 3%;
}

.project-file-label {
  color: white; 
  text-align: center;
  height: 40px; 
  width: 250px; 
  background-color: #025bee; 
  font-size: 18px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 3%;
}
/* Profile page */
.uploaded-image {
  width: 350px; 
  height: 350px; 
  border-radius: 50%;
}

/* Project page */
.project-image {
  width:325px;
  height: 225px; 
  border-radius: 10px;
}

.outside-box:hover .overlay {
  opacity: 0.8;
}

.overlay {
  position: relative;
  
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: white;
  cursor: pointer; 
}

.content {
  color: white;
  text-align: center; 
}

