* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #121212;
  width: 100vw;
  height: 100vh;
}

/* Profile page */
.uploaded-image {
  width: 350px; 
  height: 350px; 
  border-radius: 50%;
}

/* Project page */
.project-image {
  width:325px;
  height: 225px; 
  border-radius: 10px;
}

.outside-box:hover .overlay {
  opacity: 0.8;
}

.overlay {
  position: relative;
  
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: white;
  cursor: pointer; 
}

.content {
  

  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center; 
}

